Section "Device"
    Identifier     "NVIDIA Card"
    Driver         "nvidia"
    VendorName     "NVIDIA"
    BusID          "PCI:{{ gpu_bus_id }}"
    Option         "UseNvidiaKernelModule" "true"
EndSection

Section "Module"
    Load           "glx"
EndSection

Section "Screen"
    Identifier     "Screen0"
    Device         "NVIDIA Card"
EndSection